[package]
name = "sdk"
edition.workspace = true
version.workspace = true
build = "build.rs"

[dependencies]
anyhow = "1.0.100"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.149"
